iframe {
  display: none;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.TodoInfo {
  width: max-content;
  margin: 12px 0;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 8px;

  color: #f00;

  background-color: antiquewhite;

  &__title {
    margin: 4px 0;
    font-size: inherit;
  }

  &--completed &__title {
    color: #080;
  }
}
